*.pyc
*.pyo
__pycache__/
*.sqlite3
db.sqlite3
myapp/__pycache__/
myproject/__pycache__/
/MakeLivesBetter-Website/db.sqlite3
myapp/__pycache__/views.cpython-310.pyc
*.log
local_settings.py
myproject/__pycache__/settings.cpython-310.pyc
myproject/__pycache__/wsgi.cpython-310.pyc
myproject/__pycache__/urls.cpython-310.pyc
myproject/__pycache__/__init__.cpython-310.pyc
