{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <!-- CSS only -->
 
    <link href="{% static 'styleGallery.css' %}" rel="stylesheet">
    <link href="{% static 'styleGalleryExtra.css' %}" rel="stylesheet">

    <style>
        .image-thumbail {
            height: 200px;
            object-fit: cover;
        }

        .list-group-item a {
            text-decoration: none;
            color: black;
        }
    </style>


</head>
<style>
    body {
        background-image: url('../files/files/screen.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>


<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <!-- <h1 class="logo"><a href="/">MakingLivesBetter</a></h1>-->

        <a href="/" class="logo"><img src="/files/files/MLBLogo.png"></a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="about">About</a></li>
                <li><a class="nav-link scrollto" href="prices">Prices & Coupons</a></li>
                {% if user.is_authenticated %}
                    {% for e in extendedUsers %}
                        {% if e.user.username == user.username %}
                            <li><a class="nav-link scrollto" href="prices">Coins: {{ e.coins }}</a></li>
                            <li><a class="getstarted scrollto" href="logout">Logout</a></li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li><a class="getstarted scrollto" href="register">Register</a></li>
                    <li><a class="getstarted scrollto" href="login">Login</a></li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->


<br><br><br>

<body class="m-5">

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Categories
                </div>
                <ul class="list-group list-group-flush">
                    {% for category in categories %}
                        <li class=" list-group-item">
                            <a href="{% url 'gallery' %}?category={{ category.name }}">
                                {{ category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div class="col-md-9">
            <div class="row">

                {% for post in posts %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="image-thumbail" src="{{ post.image.url }}" alt="Card image cap">

                            <div class="card-body">
                                <br><b><small>Category : {{ post.category.name }}</small></b><br>
                                <b> <small>Full Name: {{ post.full_name }}</small></b><br>
                                <b> <small>City:{{ post.city }}</small></b><br>
                                <b>  <small>Address: {{ post.address }}</small></b><br>
                                <b>  <small>Phone Number: {{ post.phone_number }}</small></b><br>
                                <b> <small>Coins Prize : {{ post.value }} </b></small>

                            </div>
                            <!-- go to photo with the id of the current post-->
                            <section id="hero" class="d-flex align-items-center">
                            <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
                            <div class="text-center">
                            <a href="{% url 'photo' post.id %}" class="btn-get-started scrollto">
                                Get more details
                            </a>
                            </div>
                            </div>
                            </section>
                        </section>
                        </div>
                    </div>
                {% empty %}
                    <h3>No Posts Yet...</h3>
                {% endfor %}


            </div>
        </div>
    </div>
</div>

</body>

</html>
</script>
<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>