{% load static %}


<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Photo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'newIndex3.css' %}" rel="stylesheet">
</head>

<style>
    body {
        background-image: url('/files/files/screen.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <!-- <h1 class="logo"><a href="/">MakingLivesBetter</a></h1>-->

        <a href="/" class="logo"><img src="/files/files/MLBLogo.png" alt="" class="img-fluid" height="100"></a>
        {% include "navbar.html" %}
        <!-- .navbar -->

    </div>
</header><!-- End Header -->


<br><br><br>


<body class="m-5">
<div class="container">
    <div class="row justify-content-center">
        <div class="col">

            <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go Back</a>
            <div style="height: 90vh;">
                <img style="width: 400px; height: 400px;" src="{{ post.image.url }}">
                <br><small>Category : {{ post.category.name }}</small><br>
                <small>Full Name: {{ post.full_name }}</small><br>
                <small>City:{{ post.city }}</small><br>
                <small>Address: {{ post.address }}</small><br>
                <small>Phone Number: {{ post.phone_number }}</small><br>
                <small> Post value is : {{ post.value }} </small>
                <a href="{% url 'upload' post.id %}" class="btn btn-outline-dark btn-sm m-1">
                    <b><i>I volunteered here</i></b>
                </a>
            </div>
        </div>
    </div>
</div>

</body>

</html>