{% load static %}
<head>  
  
    <link href="{% static 'styleLogin.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->

  </head>

  <style>
    body {
      background-image: url('files/files/screen.png');
      background-repeat: no-repeat;
      background-attachment: fixed; 
      background-size: cover;
    }
    </style>

<style> 
    h4{
        color: red
    }
    </style>

<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

  
<div class="container">
    <div class="image-wapper" style="background-image: url(https://images.unsplash.com/photo-1578932750294-f5075e85f44a?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1470&amp;q=80)">
      <h1>Welcome Back</h1>
    </div>
    <div class="form-wapper">
      <div class="form-header">
        <h2>Login</h2>
        <p>Welcome back! Please login to your account.
            {% for message in messages %}
            <h4>{{message}}</h4>
            {% endfor %}
        </p>
      </div>
      <div class="form-body">
        <form action="login" method="POST">
            {% csrf_token %}
          <div class="input-wrapper">
            <label for="email">Email</label>
            <input id="email" type="text" name="username" placeholder="john@example.com"/>
          </div>
          <div class="input-wrapper">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="**********"/><span class="icon show-pass"><i class="fi-rr-eye"></i></span>
          </div>
          
          <button type="submit">Sign In</button>
        </form>
      </div>
      <div class="form-footer">
        <p>Don't have an account yet? <a class="form-link" href="register">Sign Up</a></p>
      </div>
    </div>
  </div>

<script>
$(".show-pass").on("click", function () {
    var type = $(this).prev("input").attr("type");
    if (type == "password") {
      $(this).prev("input").attr("type", "text");
      $(this).find("i").removeClass("fi-rr-eye").addClass("fi-rr-eye-crossed");
    } else {
      $(this).prev("input").attr("type", "password");
      $(this).find("i").removeClass("fi-rr-eye-crossed").addClass("fi-rr-eye");
    }
  });
</script>
  
  