{% load static %}


<head>  
    <link href="{% static 'styleRegister.css' %}" rel="stylesheet">
</head>

<style>
  body {
    background-image: url('../files/files/screen.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
  }
  </style>

<style> 
h4{
    color: red
}
</style>

<div class="container">
    <div class="image-wapper" style="background-image: url(https://images.pexels.com/photos/3812433/pexels-photo-3812433.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1)">
      <h1>Create an account</h1>
    </div>
    <div class="form-wapper">
      <div class="form-header">
        <h2>Sign Up</h2>
        <p>Welcome to MakeLivesBetter. Enter your personal details and start winning prices with us.
            {% for message in messages %}
            <h4>{{message}}</h4>
            {% endfor %}
        </p>
      </div>
      <div class="form-body">
        
        <form method="POST">
            {% csrf_token %}
          <div class="input-wrapper">
            <label for="name">Name</label>
            <input id="name" type="text" name="username" required/>
          </div>
          <div class="input-wrapper">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="john@example.com" required/>
          </div>
          <div class="input-wrapper">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="**********" required/><span class="icon show-pass"><i class="fi-rr-eye"></i></span>
          </div>
          <div class="input-wrapper">
            <label for="confirm-password">Confirm Password</label>
            <input id="confirm-password" type="password" name="password2" placeholder="**********" required/><span class="icon show-pass"><i class="fi-rr-eye"></i></span>
          </div>
          <button type="submit">Sign Up</button>
        </form>
      </div>
      <div class="form-footer">
        <p>Already have an account? <a class="form-link" href="login">Sign In</a></p>
      </div>
    </div>
  </div>

<script>
// Show Password
$(".show-pass").on("click", function () {
  var type = $(this).prev("input").attr("type");
  if (type == "password") {
    $(this).prev("input").attr("type", "text");
    $(this).find("i").removeClass("fi-rr-eye").addClass("fi-rr-eye-crossed");
  } else {
    $(this).prev("input").attr("type", "password");
    $(this).find("i").removeClass("fi-rr-eye-crossed").addClass("fi-rr-eye");
  }
});

</script>

