{% load static %}
<head>
  
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'styleUpload.css' %}" rel="stylesheet">
</head>

  <style>
    body {
      background-image: url('files/files/_110219166_gettyimages-1088255202.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed; 
      background-size: cover;
      background-color: #33a96a;
    }
  </style>
  
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

<div class="col-md-6 offset-md-3 mt-5">
  <a  href="/">
    <img src='../files/files/Logo.png' height="100px" id="myimage">
  </a>
  <h1>Upload a Post of Good Act you did</h1>
  <form accept-charset="UTF-8"  method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    {{ form.media }}
    <div class="form-group">
      <label for="exampleInputName">Full Name</label>
      <input type="text" name="full_name" class="form-control" id="exampleInputName" placeholder="Enter your name and surname" required="required">
    </div>
    
    <div class="form-group">
      <label for="exampleInputName">Address</label>
      <input type="text" name="address" class="form-control" id="exampleInputName" placeholder="Enter your address here" required="required">
    </div>
    <div class="form-group">
      <label for="exampleInputName">City</label>
      <input type="text" name="city" class="form-control" id="exampleInputName" placeholder="Enter city here" required="required">
    </div>

    <div class="form-group">
      <label for="exampleInputName">Phone Number</label>
      <input type="tel" name="phone_number" class="form-control" id="exampleInputName" placeholder="Enter Phone here"  pattern="05[0-9]{8}" required="required">
    </div>

    
      
 
   
    <div class="form-group">
      <label for="exampleInputName">Description</label>
      <textarea name='description' name="description" placeholder='Describe your case here' class="form-control" ></textarea>
    </div>
 

    <hr>
    <div class="form-group mt-3">
      <label class="mr-2">Upload Image:</label>
      <input type="file" name="image">
    </div>

    <div class="form-group">
      <br>
      <input type="checkbox" name='is_approved'  required="required"></textarea>
      <label for="vehicle1"> I approve the details are correct</label><br>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>




<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>